/*
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
body {
  margin-top: 140px;
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Caveat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.6;
}
.navbar {
  background-color: black;
}
.pokeball {
  max-width: 100px;
  margin-right: 20px;
}
.pokemon-list {
  column-count: 3;
  list-style-type: none;
  margin-right: 40px;
}
.pokemon-name {
  font-family: 'Permanent Marker', sans-serif;
  color: #black;
  font-weight: 400;
  font-size: 30px;
  background-color: #white;
  border-radius: 30px;
}
.list-group-item-action {
  margin: 10px;
  color: white;
}
.modal-content {
  color: black;
  background: red;
  text-align: center;
}
